---
import BaseLayout from "@layout/BaseLayout.astro";
---
<BaseLayout>
    <section
    class="grid min-h-full place-items-center px-6 pb-10 pt-25 sm:pt-32 lg:px-8">
<div class="prose">
    <h2>Feel free to reach out to MERLETS about anything!</h2>
    <p>Call Marilyn on 0424 008 482</p>
</div>

<iframe id="google-contact-us" class="w-full" src="https://docs.google.com/forms/d/e/1FAIpQLSdTNzxMCM9D38LPDshImTdwvwGEtvH0KmeJMOcrCC_HDCH8Rw/viewform?embedded=true" height="1500">Loading…</iframe>

</section>

</BaseLayout>
