---
import BaseLayout from "@layout/BaseLayout.astro";
import { getEntry, render } from "astro:content";

const home = await getEntry("homepage", "home")!;
const sidebar = await getEntry("homepage", "sidebar")!;

const seo = {
  title: home.data.title,
  description: home.data.description ?? home.data.title,
};

const { Content } = await render(home);
const { Content: SideContent } = await render(sidebar);

---

<BaseLayout seo={seo}>
  <section class="mx-auto max-w-[85rem] px-4 py-24 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-(--breakpoint-xl)">
      <div class="grid gap-8 md:grid-cols-3 lg:gap-12">
        <!-- Page content -->
        <div class="mx-auto md:col-span-2 md:col-start-1 md:pt-8">
          <section
            class="prose prose-slate prose-img:rounded-xl prose-img:my-5 prose-headings:font-normal prose-headings:my-2 prose-h3:text-slate-500 prose-strong:text-slate-500 max-w-none"
          >
            <Content />
          </section>
        </div>
        <!-- Sidebar content -->
        <div class="mx-auto md:pt-8">
          <section
            class="prose prose-slate prose-img:rounded-xl prose-img:my-5 prose-headings:font-normal prose-headings:my-2 prose-h3:text-slate-500 prose-strong:text-slate-500 max-w-none"
          >
            <SideContent />
          </section>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
